.movie {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  border-width: 1px;
  width: 100%;
  height: 100%;
}

.concrete-movie {
  margin-bottom: 0.1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: center;
  align-items: center;
}

.link {
  margin-bottom: 0.5rem;
  width: 70%;
  height: 75%;
}

.movie-image {
  width: 100%;
  height: 100%;
  transition: transform 1s;
}

.movie-image:hover {
  transform: scale(1.05);
}

.button {
  padding: 0.5rem 1rem;
  background-color: #ADD8E6;
  border-radius: 0.25rem;
  border-width: 1px;
}
